<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}

.image-preview{
        width: 300px;
        min-height: 100px;
        border: 2px solid #dddddd;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #cccccc;
        }

.image_preview__image{
    display: none;
    width: 100%;
}

.drop-zone{
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #cccccc;
    border-radius: 10px;
}

.drop-zone--over{
    border-style: solid;
}

.drop-zone__input{
    display: none;
}

.drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}
</style>