<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            * { box-sizing: border-box;}

            .query {text-align: center;}

            .comparision::after {
            content: ""; clear: both; display: table;
            }

            [class*="col-"] {
            float: left; padding: 15px;
            }

            .col-6 {width: 50%;}

            .header {
            text-align: center; border: 1px solid red; padding: 15px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>Image Search</h1>
            <h3>Comparision of VGG16 & MobileNet</h3>
        </div>
        <div class="query">
            
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>Query:</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
        </div>

        <div class="comparision">
            <div class="col-6">
                <h3>Results using VGG16:</h3>
                <p>extraction time: {{ vgg16Time }}</p>
                {% for vgg16_result in vgg16_results %}
                <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                    <img src="{{ vgg16_result[1] }}" height="200px">
                    <br>
                    <figcaption>{{ vgg16_result[0] }}</figcaption>
                </figure>
                {% endfor %}
            </div>

            <div class="col-6">
                <h3>Results using MobileNet:</h3>
                <p>extraction time: {{ mobilenetTime }}</p>
                {% for mobilenet_result in mobilenet_results %} 
                <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                    <img src="{{ mobilenet_result[1] }}" height="200px">
                    <br>
                    <figcaption>{{ mobilenet_result[0] }}</figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
    </body>
</html>

