{% extends 'template.html' %}

{% block whitehead %}
<h1>Crawl images</h1>
{% endblock %}

{% block whitecursive %}
{% endblock %}

{% block whitetext %}
<div class="container">
    <form method="POST">
        <p>Choose a keyword:</p>
        {% for k in keywords}
        <input type="radio" name="keyword" id="keyword" value={{k}}></input>
        <label for="keyword"> {{k}}</label><br>
        {% endfor %}
        <br>
        <input type="submit">
    </form>
</div>
{% endblock %}

{% block whiteanything %}
{% endblock %}

{% block bottom %}{% endblock %}
{% block bottomcursive %}{% endblock %}