{% extends 'template.html' %}

{% block whitehead %}
Image Search
{% endblock %}

{% block whitecursive %}
This Website with all its function is a group project by students
{% endblock %}

{% block whitetext %}
<p>With Reverse Image Search, you can quickly discover visually similar photos on your mobile phone and desktop.</p>
<p>Upload a photograph from your device and it will show you related images and also different sizes of the same photo almost instantly.</p>
<p></p>
{% endblock %}

{% block whiteanything %}

<h2> Developers: </h2>
<p>
<div class="w3-container" style="float: center">
<figure style="float: left; margin-right: 10px; margin-bottom: 10px;">
    <img src="./static/website_images/Felix.jpeg" height="100px">
    <figcaption>Felix</figcaption>
</figure>
<figure style="float: left; margin-right: 10px; margin-bottom: 10px;">
    <img src="./static/website_images/Crypto.jpg" height="100px">
    <figcaption>Karin</figcaption>
</figure>
<figure style="float: left; margin-right: 10px; margin-bottom: 10px;">
    <img src="./static/website_images/Crypto.jpg" height="100px">
    <figcaption>Levin</figcaption>
</figure>
<figure style="float: left; margin-right: 10px; margin-bottom: 10px;">
    <img src="./static/website_images/Crypto.jpg" height="100px">
    <figcaption>Marc</figcaption>
</figure>
<figure style="float: left; margin-right: 10px; margin-bottom: 10px;">
    <img src="./static/website_images/Timo.jpeg" height="100px">
    <figcaption>Timo</figcaption>
</figure>
<figure style="float: left; margin-right: 10px; margin-bottom: 10px;">
    <img src="./static/website_images/Crypto.jpg" height="100px">
    <figcaption>Ying</figcaption>
</figure>
</div>
</p>


{% endblock %}

{% block bottom %}{% endblock %}
{% block bottomcursive %}{% endblock %}