{% extends 'template.html' %}

{% block whitehead %}
Image Search
{% endblock %}

{% block whitecursive %}
This Website with all its function is a group project by students
{% endblock %}

{% block whitetext %}
<p>With Reverse Image Search, you can quickly discover visually similar photos on your mobile phone and desktop.</p>
<p>Upload a photograph from your device and it will show you related images and also different sizes of the same photo almost instantly.</p>
<p></p>
{% endblock %}

{% block whiteanything %}
<h2> Developers: </h2>
<style>
    .t-container {
  font-family: arial;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
  outline: dashed 2px red;
  /* Center child horizontally*/
  display: flex;
  justify-content: center;
}
</style>
<div class="t-container">
        <figure class="child">
            <img src="./static/website_images/Felix.jpeg" height="100px">
            <figcaption>Felix</figcaption>
        </figure>
        <figure class="child">
            <img src="./static/website_images/Crypto.jpg" height="100px">
            <figcaption>Karin</figcaption>
        </figure>
        <figure class="child">
            <img src="./static/website_images/Crypto.jpg" height="100px">
            <figcaption>Levin</figcaption>
        </figure>
        <figure class="child">
            <img src="./static/website_images/Crypto.jpg" height="100px">
            <figcaption>Marc</figcaption>
        </figure>
        <figure class="child">
            <img src="./static/website_images/Timo.jpeg" height="100px">
            <figcaption>Timo</figcaption>
        </figure>
        <figure class="child">
            <img src="./static/website_images/Crypto.jpg" height="100px">
            <figcaption>Ying</figcaption>
        </figure>
</div>


{% endblock %}

{% block bottom %}{% endblock %}
{% block bottomcursive %}{% endblock %}