{% extends 'template.html' %}

{% block whitehead %}
Image Search
{% endblock %}

{% block whitecursive %}
This Website with all its function is a group project by students
{% endblock %}

{% block whitetext %}
<p>With Reverse Image Search, you can quickly discover visually similar photos on your mobile phone and desktop.</p>
<p>Upload a photograph from your device and it will show you related images and also different sizes of the same photo almost instantly.</p>
<p></p>
{% endblock %}

{% block whiteanything %}

<h2> Developers: </h2>
<p><img src="./static/website_images/Felix.jpeg" style="height:100px"> Felix </p>
<p><img src="./static/website_images/Crypto.jpg" style="height:100px"> Karin </p>
<p><img src="./static/website_images/Crypto.jpg" style="height:100px"> Levin </p>
<p><img src="./static/website_images/Crypto.jpg" style="height:100px"> Marc </p>
<p><img src="./static/website_images/Timo.jpeg" style="height:100px"> Timo </p>
<p><img src="./static/website_images/Crypto.jpg" style="height:100px"> Ying </p>

{% endblock %}

{% block bottom %}{% endblock %}
{% block bottomcursive %}{% endblock %}