{% extends 'template.html' %}

{% block whitehead %}
<h1>Pick best images</h1>
{% endblock %}

{% block whitetext %}
<div class="container">

        <p>Show Filter Images:</p>

        {% for img in selected_img %}
        <img src="data:image/format;base64,{{ img }}" width="300px">
        {% endfor %}
        <form>
                <input type="hidden" name="kword" id="kword" value={{keyword}}>
                <input type="hidden" name="selected_img" id="selected_img" value={{selected_img}}>
                <input type="submit" value="Save">
        </form>

</div>
{% endblock %}

{% block whiteanything %}
{% endblock %}

{% block bottom %}{% endblock %}
{% block bottomcursive %}{% endblock %}