{% extends 'template.html' %}

{% block whitehead %}
<h1>Simple image search engine</h1>
{% endblock %}

{% block whitecursive %}
Using {{ extractor }} algorithm
{{ extractor_text }}
{% endblock %}

{% block whitetext %}
<html>
    <head>
    </head>
    <body>
    <div class="w3-container" style="max-width:2000px">
    <form method="POST" enctype="multipart/form-data">
        <div id="dropzone">
            <div>upload</div>
            <input type="file" name="query_img"><br>
        </div>
        <p>Select your Search Algorithm:</p>
        <div class="search-radio-bar">
            <input type="radio" id="euklid" name="search" value="euklid" {% if checked == 'euklid'%} checked='checked' {% endif %}>
            <label for="euklid">Euklid/Linear</label>
            <input type="radio" id="hashing" name="search" value="hashing" {% if checked == 'hashing'%} checked='checked' {% endif %}>
            <label for="hashing">Hashing</label><br>
        </div>

        <input type="submit">
    </form>
    <h2>Uploaded Image:</h2>
    {% if query_img %}
    <img src="data:image/format;base64,{{ query_img }}" width="300px">
    {% endif %}
    <h2>Similar Images:</h2>
    <p>time: {{ t }}</p>
    {% for score in scores %}
    <figure style="float: left; margin-right: 10px; margin-bottom: 10px;">
        <img src="data:image/format;base64,{{ score[0] }}" height="200px" max-width="300px" min-width="250px">
        <figcaption>{{ score[1] }}</figcaption>
    </figure>
    {% endfor %}
</div>
    </body>
</html>
{% endblock %}

{% block whiteanything %}
{{ extractor_text }}
{% endblock %}