{% extends 'template.html' %}

{% block whitehead %}
<h1>Simple image search engine</h1>
{% endblock %}

{% block whitecursive %}
{% endblock %}

{% block whitetext %}
    <body>
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>Query:</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>Results:</h2>
            {% for score in scores %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ score[1] }}" height="200px">
                <figcaption>{{ score[0] }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </body>
{% endblock %}

{% block whiteanything %}
{% endblock %}

{% block blackhead %}
{% endblock %}

{% block blackcursive %}
{% endblock %}

{% block bottom %}
{% endblock %}

{% block bottomcursive %}
{% endblock %}