{% extends 'template.html' %}

{% block whitehead %}
Testimplementation of Picture upload
{% endblock %}

{% block whitecursive %}
{% endblock %}

{% block whitetext %}
Doesn't work somehow
<form action="upload.php" method="post" enctype="multipart/form-data">
    <input name="datei" type="file" accept="image/*">
    <input type="submit" value="Upload Image" name="submit">
</form>
{% endblock %}

{% block whiteanything %}
{% endblock %}

{% block blackhead %}
{% endblock %}

{% block blackcursive %}
{% endblock %}

{% block bottom %}
{% endblock %}

{% block bottomcursive %}
{% endblock %}