{% extends 'template.html' %}

{% block whitehead %}
<h1>Simple image search engine</h1>
{% endblock %}

{% block whitecursive %}
{% endblock %}

{% block whitetext %}

<body>
    <form action="./upload-file.php" method="post" enctype="multipart/form-data">
        <div class="drop-zone">
            <span class="drop-zone__prompt">Drop file here or click to upload</span>
            <input type="file" name="myFile" class="drop-zone__input">
        </div>
        <br>
        <input type="submit" value="Upload">
    </form>
</body>

{% endblock %}

{% block whiteanything %}
{% endblock %}

{% block blackhead %}
{% endblock %}

{% block blackcursive %}
{% endblock %}

{% block bottom %}
{% endblock %}

{% block bottomcursive %}
{% endblock %}