{% extends 'template.html' %}

{% block whitehead %}
<h1>Simple image search engine</h1>
{% endblock %}

{% block whitecursive %}
Using Mobilenet algorithm
{% endblock %}

{% block whitetext %}

<div class="w3-container">
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="query_img"><br>
        <input type="submit">
    </form>
    <h2>Uploaded Image:</h2>
    {% if query_path %}
    <img src="{{ query_path }}" width="300px">
    {% endif %}
    <h2>Similar Images:</h2>
    <p>time: {{ t }}</p>
    {% for score in scores %}
    <figure style="float: left; margin-right: 8px; margin-bottom: 8px;">
        <img src="{{ score[1] }}" height="200px">
        <figcaption>{{ score[0] }}</figcaption>
    </figure>
    {% endfor %}
</div>
{% endblock %}

{% block whiteanything %}
{% endblock %}

{% block bottom %}{% endblock %}
{% block bottomcursive %}{% endblock %}