<!DOCTYPE html>
<html lang="en">
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</head>

<body>

<!-- Navbar -->
<div class="w3-top">
<div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
    <a href="/2" class="w3-bar-item w3-button">ALGORITHM</a>
    <a href="/3" class="w3-bar-item w3-button">IMPRESSUM</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Dropdown</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/" class="w3-bar-item w3-button">MOBILENET</a>
            <a href="/1" class="w3-bar-item w3-button">VGG16</a>
        </div>
    </div>
</div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TEST</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ALGORITHM</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">IMPRESSUM</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- The White Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide">{% block whitehead %} {% endblock %}</h2>
        <p class="w3-opacity"><i>{% block whitecursive %} {% endblock %}</i></p>
        <p class="w3-justify">{% block whitetext %} {% endblock %}</p>
        {% block whiteanything %} {% endblock %}
    </div>

    <!-- End Page Content -->
</div>

<!-- Footer -->
<div class="w3-bottom">
    <div class="w3-bar w3-black w3-card">
        <footer class="w3-container w3-padding-16 w3-center w3-opacity w3-black w3-large">
            <i class="w3-medium">Powered by <a href="https://uni-tuebingen.de" target="_blank">Uni Tübingen</a></i>
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </footer>
    </div>
</div>

</body>
</html>