<!DOCTYPE html>
<html lang="en">

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" href="./static/website_images/favicon.ico" type="image/x-icon">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</head>


<body>
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button">HOME</a>
        <div class="w3-dropdown-hover">
            <button class="w3-button">ALGORITHMS</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/mobilenet" class="w3-bar-item w3-button">MOBILENET</a>
                <a href="/mobilenetv2" class="w3-bar-item w3-button">MOBILENET V2</a>
                <a href="/vgg16" class="w3-bar-item w3-button">VGG16</a>
                <a href="/xception" class="w3-bar-item w3-button">XCEPTION</a>
                <a href="/nasnet" class="w3-bar-item w3-button">NASNET</a>
            </div>
        </div>
        <a href="/impressum" class="w3-bar-item w3-button" onclick="checker()">IMPRESSUM</a>
        <button class="w3-button" style="float: right"  onclick="dark_light()">
        <span class="glyphicon glyphicon-adjust w3-hover-opacity" ></span>
        </button>
    </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- The White Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1800px" id="band">
        <h1 class="w3-wide">{% block whitehead %} {% endblock %}</h1>
        <p class="w3-opacity"><i>{% block whitecursive %} {% endblock %}</i></p>
        <p class="w3-justify">{% block whitetext %} {% endblock %}</p>
        {% block whiteanything %}
        {% endblock %}
    </div>

    <!-- The Bottom Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center">{% block bottom %}{% endblock %}</h2>
        <p class="w3-opacity w3-center"><i>{% block bottomcursive %}{% endblock %}</i></p>
    </div>

    <!-- End Page Content -->
</div>
<!-- Footer -->
<div class="w3-bottom">
    <div class="w3-bar w3-black w3-card">
        <footer class="w3-container w3-padding-8 w3-center w3-opacity w3-black w3-large">
            <a class="w3-button" style="float: center" target="_blank" href="https://github.com/leviN1998/ImageSearch">
                <span class="fa fa-github w3-hover-opacity" ></span>
            </a>

            <a class="w3-button w3-black" style="float: center" target="_blank" href="https://uni-tuebingen.de">
                <span class="fa fa-university w3-hover-opacity"></span>
            </a>
        </footer>
    </div>
</div>



</body>
</html>