{% extends 'template.html' %}

{% block whitehead %}
Heading in white Block
{% endblock %}

{% block whitecursive %}
Cursive Statement in white Block
{% endblock %}

{% block whitetext %}
Textbar in white Block
{% endblock %}

{% block whiteanything %}
<img src="static/img1.jpg" alt="Testpicture" align="middle" heigth="500" width="400">
{% endblock %}

{% block blackhead %}
Heading in black Block
{% endblock %}

{% block blackcursive %}
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Very Important</a>
{% endblock %}

{% block bottom %}
Heading in endblock
{% endblock %}

{% block bottomcursive %}
Cursive Statement in endblock
{% endblock %}